/* Header Section */
header{
	background: #edeff1;

}

/* Banner Section */
.banner{
	background: url(../img/background-main.png) no-repeat center;
	background-size: cover;
	padding: 50px 0px;
}
.banner h1{
	color: #fff;
	padding-top: 175px;
}
.banner p{
	color: #fff;
}
.banner h2{
	color: #fff;
}
.banner-content{
	margin-top: 75px;
}
.btn-banner{
	background: #fff;
    color: orange;
    padding: 7px 25px;
    border-radius: 25px;
    margin-top: 25px;
}

/* News Section Start  */
.news-heading{
	margin: 20px auto 50px;
}
.news{
	padding: 75px 0px;
	background: #edeff1;
}
.btn-news{
	background: #fff;
    color: orange;
    padding: 7px 25px;
    border-radius: 25px;
    margin-bottom: 25px;
}

/* Newsletter Section */
.newsletter{
	background: url(../img/newsletter.png) no-repeat center;
	background-size: cover;
}
.newsletter-opacity{
	background: rgba(0,0,0,.5);
    padding: 100px 0px;
}
.newsletter h2{
	color: #fff;
}
.newsletter p{
	color: #fff;
}
.form-group{
	position: relative;
}
.btn-signup {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    padding: 6px 35px;
}
.newsletter .form-control{
	border-radius: 50px;
}

/* Gallery Section */
.gallery{
	padding: 75px 0px;
}

/* About Section*/
.about{
	background-color: #d75d0e;
}
.about ul{
	margin: 60px auto;
}
.about ul li{
	list-style: none;
	color:#fff;
}

/*Footer Section*/
.footer-banner{
	background: url(../img/footer.png) no-repeat center;
	background-size: cover;
	padding: 75px 0px;
}
.footer-banner p{
	color:#fff;
}